<!-- {{ site.title }}
<a href="mailto:{{ site.email }}">{{ site.email }}</a> -->

<footer class="pt3">

	<div class="hideFlow width pad1to1">
	<a class="badge center" href="#">
		  <div>
			    <p><span aria-hidden="true" class="icon-star"></span><span aria-hidden="true" class="icon-star"></span><span aria-hidden="true" class="icon-star"></span><span aria-hidden="true" class="icon-star"></span> </p>
			    <p><span aria-hidden="true" class="icon-arch-01"></span></p>
		  </div>
	</a>
	</div>
	<div class="width line pt3">

			<div class="ptb line boxShadowTop">
				<span class="left mlr">St. Chicago / 777 Mighty Midwest</span>
				<span class="right mlr"><a href="#">Sitemap</a></span>
			</div>

	</div>

</footer>
