<header role="banner">
	<div class="grayBg1">
		<div class="p0 width line relative">
			<h1 class="pad1to1sm">
        <a href="/">
          <span class="logoBox">
            <span aria-hidden="true" class="icon-arch-01"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
          </span>
      Saint Chicago</a>
      </h1>

		</div>
	</div>
</header>
