<header class="site-header">

<header role="banner">
	<div class="grayBg1">
		<div class="p0 width line relative">
			<h1 class="pad1to1sm">
        <a href="/">
        <span class="logoBox">
          <span aria-hidden="true" class="icon-arch-01"></span>
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star"></span>
      </span>Saint Chicago</a>
      </h1>
			<!-- <span class="tagline narrow">Publicly educated opinions</span> -->
		</div>
	</div>
</header>

<div class="width">
<!--   <div class="wrapper"> -->

<!--     <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

<!--     <nav class="site-nav"> -->
    <nav class="width pad1to1sm line boxShadowBottom" role="navigation">

      <div class="center m0 navWidth">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
