@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-music:before { content: '\266b'; } /* '♫' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-quote-left-alt:before { content: '\275b'; } /* '❛' */
.icon-quote-right-alt:before { content: '\275c'; } /* '❜' */
.icon-quote-left:before { content: '\275d'; } /* '❝' */
.icon-quote-right:before { content: '\275e'; } /* '❞' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-comment-alt:before { content: '\e71a'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-glass:before { content: '🍸'; } /* '\1f378' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-user-pair:before { content: '👫'; } /* '\1f46b' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-camera-1:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '🔊'; } /* '\1f50a' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */