
// MEDIA QUERIES

@mixin bp($point) {

  //http://codepen.io/chriscoyier/blog/codepens-css
  $bp-ios: " (min-device-width: 768px) and (max-device-width: 1024px), (max-device-width: 480px)";
  $bp-min: "(max-width: 480px)";
  $bp-sm: "(max-width: 600px)";
  $bp-med: "(max-width: 1024px)";
  $bp-lrg: "(max-width: 1250px)";
  $bp-max: "(max-width: 1600px)";

  @if $point == bp-ios {
    @media #{$bp-ios} { @content; }
  }

  @if $point == bp-min {
    @media #{$bp-min} { @content; }
  }

  @else if $point == bp-sm {
    @media #{$bp-sm} { @content; }
  }

  @else if $point == bp-med {
    @media #{$bp-med}  { @content; }
  }

  @else if $point == bp-lg {
    @media #{$bp-lrg}  { @content; }
  }

  @else if $point == bp-max {
    @media #{$bp-max}  { @content; }
  }

}


// IMAGES

img { max-width: 100%; height: auto; }



.width {
	margin: 0 auto;
	width:960px;

	@include bp(bp-sm) {
			width:95%;
			.em3, .em2 { font-size:1em;}
		}
		
}
